<% layout('layouts/app') %>
<h3 class="text-center">Login</h3>
<div class="col-6 offset-3 mb-5">
    <form action="/login" method="post" class="needs-validation" novalidate>
        <div class="mb-3 mt-3">
            <label for="username">Username :</label>
            <input type="text" id="username" name="username" class="form-control" required>    
            <div class="valid-feedback">
                Terlihat Keren!
                      </div>
                  
                    <div class="invalid-feedback">
                        Kolom Ini Tidak Boleh Kosong!
                      </div>  
        </div>
 <div class="mb-3">
           <label for="password">Password :</label>
           <input type="text" id="password" name="password" class="form-control" required>
           <div class="valid-feedback">
            Terlihat Keren!
                  </div>
              
                <div class="invalid-feedback">
                    Kolom Ini Tidak Boleh Kosong!
                  </div>  
        </div>
        <button type="submit" class="btn btn-secondary">Login</button>
    </form>
</div>

<!-- modal password do not match-->
<!-- <div class="modal fade" id="novalidatepassword" tabindex="1" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="errorModalLabel">Error!</h5>
                <button type="button" class="btn-close" data-bs-dimmis="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Password do not match. Please try again
            </div>
        </div>
    </div>
</div> -->